<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480883440586-4u4bpcstb5o8lvdfl90rf232m1a7hjnk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480883440586-4u4bpcstb5o8lvdfl90rf232m1a7hjnk</string>
	<key>API_KEY</key>
	<string>AIzaSyAXQRc8OlWQf_fKuuE4bNpa72XviTNeUUI</string>
	<key>GCM_SENDER_ID</key>
	<string>480883440586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rs.Leech</string>
	<key>PROJECT_ID</key>
	<string>leech-3ce0c</string>
	<key>STORAGE_BUCKET</key>
	<string>leech-3ce0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480883440586:ios:561c1c8bc6c969bcecad33</string>
</dict>
</plist>