<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.480883440586-4u4bpcstb5o8lvdfl90rf232m1a7hjnk</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>480883440586-4u4bpcstb5o8lvdfl90rf232m1a7hjnk.apps.googleusercontent.com</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
	</array>
</dict>
</plist>
